{% extends 'base.html.twig' %}


{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('user_show', {'id': app.user.id})}}"><button class="btn btn-sm btn-success text-light">back to my profile</button></a>
    {% if app.user.getAdmin %}
    <a href="{{ path('user_index')}}"><button class="btn btn-sm btn-primary text-light">back to list</button></a>
    {% endif %}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
